.hero{
    width: 100%;
    min-height: 1101px;
    background-color: #EBEBEB;
    // padding: 0px 0px 150px 0px;
 
}
.hero-wrapper{
    width: 100%;
    max-width: 1860px;
    height: 966px;
    margin: 0 auto;
    background-image: url("../../images/hero-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
        .hero-content{
            width: 100%;
            max-width: 1320px;
            // min-height: 504px;
            display: flex;
            flex-direction: column;
            align-items: center;
                .hero-title{
                    @include titleStyle("Unbounded", 89px, 700, 95px, #fff);
                    width: 100%;
                    max-width: 754px;
                    text-align: center;
                    margin-bottom: 40px;
                }
                .hero-text{
                    @include textStyle(24px,500, 32px, #d9d7d7);
                    margin-bottom: 120px;
                }
        }
}
.hero-bottom{
    width: 100%;
    max-width: 1320px;
    border-top: 2px solid #FFFFFF33;
    padding: 70px 60px 0px 60px;

}
.hero-list{
    display: flex;
    justify-content: space-between;
}
.hero-list-item{
    display: flex;
    gap: 15px;
    align-items: flex-start;
        span{
            @include titleStyle("Unbounded",10px, 500, 10px, #1F1F1F);
            width: 26px;
            height: 26px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 8px 10px;
        }
     p{
        @include textStyle(17px, 500, 26px, #fff);
        width: 100%;max-width: 199px;

    }
}
.hero-footer{
    width: 100%;
    max-width: 1320px;
    min-height: 271px;
    border-radius: 20px;
    background-color:#fff;
    position: absolute;
    bottom: -120px;
    padding: 60px 70px;
        .hero-subtitle{
            @include titleStyle("Unbounded",22px, 700, 29px,#1F1F1F);
        }
}

.hero-form{
    margin-top: 36px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    .hero-btn{
       @include btn(20px 30px, 10px, none, #F5F5F5);
        @include titleStyle("PP PAngram Sans", 14px, 500, 20px, #A4A4A4);
           span{
                display: flex;
                align-items: center;
                gap: 16px;
            }
            .bi-calendar4{
                color: #1F1F1F;
              
         }
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 14px;
            justify-content: center;
                input{
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    border-radius: 5px; 
                    border: none;
                    background-color: #EEEEEE;
                    &:checked{
                        background-color: #1F1F1F;
                      background-image:url("../../images/checked.svg");
                      background-repeat: no-repeat;
                      background-position:center;
                    }
                }
                
                label{
                    @include titleStyle("sans-serif", 14px, 500, 20px, #1F1F1F);
                    display: flex;
                    align-items: center;
                    gap: 14px;
                }
        }
}
.btn-btn-hero{
    @include btn(28px 34px, 10px, none, none );
    @include titleStyle("sans-serif", 16px, 700, 20px, #fff);
    background: linear-gradient(67.38deg, #9F7437 9.19%, #E3D293 92.03%);

}